version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: clickmart_db
      POSTGRES_USER: clickmart_user
      POSTGRES_PASSWORD: clickmart_db_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U clickmart_user"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend-drf
    ports:
      - "8000:8000"
    env_file:
      - ./backend-drf/.env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend-django/static:/app/static

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

volumes:
  postgres_data:
