{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}
<style>
    
  /* Responsive Styles */
  @media only screen and (max-width: 1199px) {
    select {width: 41%;}

  }
  
  
  @media only screen and (max-width: 991px) {
    select {width: 41%;}
    .custom-design-for-info{
        display: block !important;
    }
    
    select option {
        font-size: 12px;
    }


    .status-img{
        width: 160px !important;
    }
  }



  @media only screen and (max-width: 768px) {
    select {width: 41%;}
    select option {font-size: 12px;}
    .custom-design-for-info{
        display: block !important;
    }
    .image-logo{
        width: 170px !important;
    }
    .status-img{
        width: 130px !important;
    }

  }
  
  
  @media only screen and (max-width: 575px) {
    select {width: 41%;}
    select option {font-size: 10px;}
    .custom-design-for-info{
        display: block !important;
    }
    .image-logo{
        width: 150px !important;
    }
    .status-img{
        width: 100px !important;
    }
  }

</style>
<!-- Main Section Start -->
<div class="main-section">
    
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load the sidebar here -->
                    {% include 'includes/c_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder shadow-lg">
                        <div class="user-holder">
                           
                            <div class="container">
                                <div class="justify-content-center row">
                                    <div class="col-md-12">
                                        <div class="bg-white p-1">
                                            <img src="{% static 'logo/flickbasket-logo.svg' %}" alt="foodOnline Logo" width="300" class="image-logo">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4 class="mt-2 mb-3">Thank you for your order.</h4>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <p class="mb-0">{{ order.name }}</p>
                                                    <p class="mb-0">{{ order.address }}</p>
                                                    <p class="mb-0">{{ order.phone }}</p>
                                                    <p class="mb-0">{{ order.email }}</p>
                                                    {% comment %} <p class="mb-0" style="font-weight: 600;">Order Status: {{ order.status }}</p> {% endcomment %}
                                                </div>
                                            </div>
                                            
                                            <h6>Hello {{ order.name }}, </h6><span>Review your order details below.</span>
                                            <hr>
                            
                                            <div class="d-flex justify-content-between custom-design-for-info">
                                                <div>
                                                    <span class="d-block">Order Date: </span><span class="font-weight-bold ">{{ order.created_at }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Order No: </span><span class="font-weight-bold">{{ order.order_number }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Payment Method: </span><span class="font-weight-bold">{{ order.payment_method }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Transaction ID: </span><span class="font-weight-bold">{{ order.payment.transaction_id }}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <table class="table">
                                                <tbody>
                                                    {% for item in ordered_food %}
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center  gap-3">
                                                                <div>
                                                                    {% if item.variant_info.image %}
                                                                        <img src="{{ item.variant_info.image }}" width="60" alt="Variant Image"><br>
                                                                    {% elif item.product.image %}
                                                                        <img src="{{ item.product.image.url }}" width="60" alt="Product Image"><br>
                                                                    {% else %}     
                                                                        <img src="" width="60" alt="No image available" /><br>
                                                                    {% endif %}
                                                                </div>  
                                                                <div class="w-20">
                                                                    {% if item.variant_info.attributes %}
                                                                        {% for attr in item.variant_info.attributes %}
                                                                            <small>{{ attr.attribute__name }}: {{ attr.value }}</small><br>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0"><b>{{ item.product }}</b></p>
                                                            <a class="text-muted" href="{% url 'vendor_detail' item.product.vendor.vendor_slug %}">{{ item.product.vendor.vendor_name }}</a>
                                                        </td>
                                                        <td>{{ item.quantity }} QTY</td>
                                                    
                                                        <td>₹{{ item.price }}</td>
                                                
                                                        <td>{{item.product.tax_category}}</td>
                                                        <td>
                                                        <span class="btn btn-sm 
                                                            {% if item.status == 'Paid' or item.status == 'Completed' %}
                                                                update_color
                                                            {% elif item.status == 'Pending' %}
                                                                btn-warning
                                                            {% else %}
                                                                btn-secondary
                                                            {% endif %}
                                                        ">
                                                            {{ item.status }}
                                                        </span>
                                                    </td>
                                                    </tr>
                                                    
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                            
                                            <div class="row mt-5">
                                                {% comment %} {% if order.status == 'Processing' %}
                                                <div class="d-flex justify-content-center col-md-6">
                                                    <img src="{% static 'images/payment-pending.png' %}" width="200" class="status-img">
                                                </div> {% endcomment %}
                                                {% if all_paid %}
                                                <div class="d-flex justify-content-center col-md-6">
                                                    <img src="{% static 'images/paid.png' %}" width="200" class="status-img">
                                                </div>
                                                {% comment %} {% elif order.status == 'Cancelled' %}
                                                <div class="d-flex justify-content-center col-md-6">
                                                    <img src="{% static 'images/order-cancelled.png' %}" width="200" class="status-img">
                                                </div>
                                                {% elif order.status == 'Refunded' %}
                                                <div class="d-flex justify-content-center col-md-6">
                                                    <img src="{% static 'images/refunded.png' %}" width="200" class="status-img">
                                                </div> {% endcomment %}
                                                {% endif %}
                                                <div class="col-md-6">
                                                    <ul>
                                                    <li style="list-style-type: none;" class="d-flex justify-content-between align-items-center">
                                                        Subtotal
                                                        <span class="price float-right">
                                                            <span class="currency">₹</span>
                                                            <span id="subtotal">{{ subtotal |floatformat:2 }}</span>
                                                        </span>
                                                    </li>
                                                    
                                                    {% for single_tax_dict in tax_data %}
                                                    {% for key, value in single_tax_dict.tax_info.items %}
                                                        {% if value %}  
                                                            <li style="list-style-type: none;" class="d-flex justify-content-between align-items-center">
                                                                <div style="font-size: 12px;">
                                                                    {{ single_tax_dict.tax_category }} 
                                                                    <small>({{ key }}%)</small>
                                                                    {% for item in ordered_food %}
                                                                    {% if item.product.id == single_tax_dict.product_id %}
                                                                    <small>{{item.product | truncatechars:20}}</small>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <span class="price float-right">
                                                                    <span class="currency">₹</span>
                                                                    <span id="tax-{{ single_tax_dict.product_id }}">{{ value |floatformat:2 }}</span>
                                                                </span>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}



                                                    <li style="list-style-type: none; font-weight: 600;" class="d-flex justify-content-between align-items-center">
                                                        TOTAL
                                                        <span class="price float-right ">
                                                            <span class="currency">₹</span>
                                                            <span id="total">{{ order.total |floatformat:2 }}</span>
                                                        </span>
                                                    </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <span class="d-block font-weight-bold">Thanks for ordering with us.</span>
                                                    <span>Flickbasket Team</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% endblock %}