{% extends 'base.html' %}
{% load static %}

{% block content %}
	<link href="{% static 'css/cart_style.css' %}" rel="stylesheet">
    <style>
        .cart-blue{
            color: #1b216a !important;
        }
.store_name {
  color: white !important;
  background-color: #3a4a99 !important; /* light blue */
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
}



    </style>
<!-- Main Section Start -->
<div class="main-section pt-5 ">
    <div class="page-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 mb-30">
                    <div class="tabs-holder horizontal">
                        <ul class="cart-blue">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart  mr-5"></i><strong class="">Cart Items</strong> </a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder cart-page">
                                    
                                    <div class="text-center p-5" id="empty-cart" style="display: none;">
                                        <h3>Cart is empty</h3>
                                    </div>

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        <ul>
                                            {% if cart_items %}
                                                {% for item in cart_items %}
                                                    {% if item.cart_id %}
                                                            <li id="cart-item-{{item.cart_id}}">
                                                    {% else %}
                                                            <li id="cart-item-{{item.product.id}}">
                                                    {% endif %}
                                                   <div class="image-holder">
                                                   {% if item.product_variant_group and item.product_variant_group.image %}
                                                        <img src="{{ item.product_variant_group.image.url }}" alt="">
                                                    {% elif item.product.image %}
                                                        <img src="{{ item.product.image.url }}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'images/placeholder.jpg' %}" alt="No image available">
                                                    {% endif %}
                                                    </div>

                                                    <div class="text-holder ms-3" style="width: 390px;">
                                                        <h6>{{ item.product }}</h6>
                                                         {% if item.product_variant_group  %}
                                                                {% for attr_value in item.product_variant_group.attribute.all %}
                                                               <span style="color:#7a7272;"><strong>{{ attr_value.attribute.name }}</strong>: {{ attr_value.value }}</span>
                                                                {% endfor %}
                                                        {% endif %}
                                                        <span>{{item.product.product_desc | truncatewords:25}}</span>
                                                        <a href="{% url 'vendor_detail' item.product.vendor.vendor_slug %}" class="badge store_name">{{ item.product.vendor }}</a>
                                                    </div>
                                                    <div class="price-holder">
                                                   {% if item.product_variant_group and item.product_variant_group.price %}
                                                        <span class="bold">₹ {{ item.product_variant_group.price }}</span>
                                                   {% else %}
                                                            {% if item.product.sales_price %}
                                                                <span class="bold">₹ {{ item.product.sales_price }}</span>
                                                                {% else %}
                                                                <span class="bold">₹ {{ item.product.regular_price }}</span>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if item.cart_id %}
                                                        <a href="#" class="decrease_cart"  {% if item.product_variant_group %} data-variants='{% for attr in item.product_variant_group.attribute.all %}{{attr.attribute.name}}:{{attr.id}}{% if not forloop.last %},{% endif %}{% endfor %}'{% endif %}data-id="{{ item.product.id }}" main_cartitem_id="{{item.id}}" id="{{item.cart_id}}" data-url="{% url 'decrease_cart' item.product.id %}" style="margin-right: 28px;"><i class="icon-minus blue_color"></i></a>
                                                        {% else %}
                                                        <a href="#" class="decrease_cart"  {% if item.product_variant_group %} data-variants='{% for attr in item.product_variant_group.attribute.all %}{{attr.attribute.name}}: {{attr.id}}{% if not forloop.last %},{% endif %}{% endfor %}'{% endif %} data-id="{{ item.product.id }}" main_cartitem_id="{{item.id}}" id="{{item.product.id}}" data-url="{% url 'decrease_cart' item.product.id %}" style="margin-right: 28px;"><i class="icon-minus blue_color"></i></a>
                                                        {% endif %}
                                                        
                                                        {% if item.product_variant_group %}
                                                            <label id="qty-{{item.product.id}}-{{item.id}}">{{ item.quantity }}</label>
                                                        {% else %}
                                                            <label id="qty-crt-{{item.product.id}}">{{ item.quantity }}</label>
                                                        {% endif %}
                                                        <a href="#" class="add_to_cart"  {% if item.product_variant_group %} data-variants='{% for attr in item.product_variant_group.attribute.all %}{{attr.attribute.name}}: {{attr.id}} {% if not forloop.last %},{% endif %}{% endfor %}'{% endif %} data-id="{{ item.product.id }}" main_cartitem_id="{{item.id}}" data-url="{% url 'add_to_cart' item.product.id %}"><i class="icon-plus4 blue_color"></i></a>
                                                        
                                                        {% if item.cart_id %}
                                                        <a href="#" class="delete_cart" data-id="{{ item.cart_id }}" data-url="{% url 'delete_cart' item.id %}" main_cartitem_id="{{item.id}}" data-product-id="{{item.product.id}}"><i class="icon-delete delete_icon_color"></i></a>       
                                                        {% else %}
                                                        <a href="#" class="delete_cart" data-id="{{ item.product.id }}" data-url="{% url 'delete_cart' item.id %}" main_cartitem_id="{{item.id}}" data-product-id="{{item.product.id}}"><i class="icon-delete delete_icon_color"></i></a>       
                                                        {% endif %}
                                                            
                                                        
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            {% else %}
                                                <div class="text-center p-5">
                                                    <h3>Cart is empty</h3>
                                                </div>
                                            {% endif %}
                                        </ul>
                                        
                                        
                                        
                                    </div>

                                    {% for item in cart_items %}

                                    <span id="qty-{{item.product.id}}" class="item_qty d-none" data-qty="{{ item.quantity }}">{{ item.quantity }}</span>

                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Your order section -->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="cart-blue">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i><strong>Your Order</strong> </a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                    <div>
                                        <ul>
                                            <li  class="d-flex justify-content-between align-items-center text-start mx-3"style="list-style-type: none; margin-left: 15px;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>

                                        {% for single_tax_dict in tax_dict %}
                                            {% for key, value in single_tax_dict.tax_info.items %}
                                                {% if value %}  
                                                    <li class="d-flex justify-content-between align-items-center text-start mx-3" style="list-style-type: none; margin-left: 15px;" id="tax-li-{{ single_tax_dict.product_id }}">
                                                        
                                                        <div style="font-size: 11px; text-align:left;">
                                                        {{ single_tax_dict.tax_category }} 
                                                           <small>({{ key }}%)</small>
                                                           {% for item in cart_items %}
                                                           
                                                           {% if item.product.id == single_tax_dict.product_id %}
                                                           <small>{{item.product | truncatechars:40}}</small>
                                                           {% endif %}
                                                           {% endfor %}
                                                       </div>

                                                        <span class="price float-right">
                                                            <span class="currency">₹</span>
                                                            <span id="tax-{{ single_tax_dict.product_id }}">{{ value }}</span>
                                                        </span>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}


                                            <li class="d-flex justify-content-between align-items-center text-start mx-3" style="list-style-type: none; font-weight: 600; margin-left: 15px;">
                                                TOTAL
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>

                                            <a href="{% url 'checkout' %}" class="btn  w-100 p-2 mt-3 update_color">PROCEED TO CHECKOUT</a>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}