{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Section Start -->
<main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">Checkout</h1>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    
                    <div class="row">
                        <h4 class="mb-30">Billing Details</h4>
                        <form action="{% url 'place_order' %}" method="POST">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    First Name: {{ form.first_name }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Last Name: {{ form.last_name }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Phone Number: {{ form.phone }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Email Address: {{ form.email }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-lg-12">
                                                    Address: {{ form.address }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Country: {{ form.country }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    State: {{ form.state }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    City: {{ form.city }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Pin Code: {{ form.pin_code }}
                                                </div>
                                            </div>
                            </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="border p-40 cart-totals ml-30 mb-50">
                        <div class="d-flex align-items-end justify-content-between mb-30">
                            <h4>Your Order</h4>
                            <h6 class="text-muted">Subtotal</h6>
                        </div>
                        <div class="divider-2 mb-30"></div>
                        <div class="table-responsive order_table checkout">
                            <table class="table no-border">
                                <tbody>
                                    {% for item in cart_items %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ item.product.image.url }}" alt="#"></td>
                                        <td>
                                            <p class="w-160 mb-5 text-heading" style="font-size: 14px;">{{ item.product }}</p>
                                            
                                        </td>
                                        <td>
                                            <p class="pl-20 pr-20" style="font-size: 14px;">x {{ item.quantity }}</p>
                                        </td>
                                        <td>
                                            {% if item.product.sales_price %}
                                                <span class="currency">₹{{ item.product.sales_price }}</span>
                                            {% else %}
                                                <span class="currency">₹{{ item.product.regular_price }}</span>
                                            {% endif %}   
                                            <!-- <h4 class="text-brand">$13.3</h4> -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="payment ml-30">
                        <h4 class="mb-30">Payment</h4>
                        <div class="payment_option">
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Direct Bank Transfer</label>
                            </div>
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Cash on delivery</label>
                            </div>
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Online Getway</label>
                            </div>
                        </div>
                        <div class="payment-logo d-flex">
                            <img class="mr-15" src="assets/imgs/theme/icons/payment-paypal.svg" alt="">
                            <img class="mr-15" src="assets/imgs/theme/icons/payment-visa.svg" alt="">
                            <img class="mr-15" src="assets/imgs/theme/icons/payment-master.svg" alt="">
                            <img src="assets/imgs/theme/icons/payment-zapper.svg" alt="">
                        </div>
                        <a href="#" class="btn btn-fill-out btn-block mt-30">Place an Order<i class="fi-rs-sign-out ml-15"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!-- Main Section End -->


<script>
    function payMethodConfirm(){
        var payMethod = $("input[name='payment_method']:checked").val()
        if(!payMethod){
            $('#payment-method-error').html("Select Payment Method!");
            return false;
        }else{
            var conf = confirm('You have selected '+payMethod+' as your preferred payment method.\nClick "OK" to continue.')
            if(conf == true){
                return true;
            }else{
                return false;
            }
        }
        
    }

    $('input[name=payment_method]').on('change', function(){
        $('#payment-method-error').html("");
    })
</script>

{% endblock %}