{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container my-4">
    <main class="main">
        <div class="page-header mt-30 mb-50">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">Products</h1>
                        </div>
                        <div class="col-xl-9 text-end d-none d-xl-block">
                            <div class="flex-grow-1">
                                <div class="search-style-2">
                                    <form method="get" class="d-flex">
                                        <input type="text" name=search class="form-control" placeholder="Search products..."   value="{{ search_query|default:'' }}" />
                                        <button type="submit" class="ml-2" style="width:65px; background-color: transparent !important; "></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{ products|length }}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Price: Low to High</a></li>
                                        <li><a href="#">Price: High to Low</a></li>
                                        <li><a href="#">Release Date</a></li>
                                        <li><a href="#">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid">
                        {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'view_product' product.vendor.vendor_slug product.slug %}">
                                            <img class="default-img" src="{{ product.image.url }}" alt="{{ product.product_name }}" />
                                        </a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="shop-grid-right.html">{{ product.category }}</a>
                                    </div>
                                    <h2><a href="{% url 'view_product' product.vendor.vendor_slug product.slug %}">{{ product.product_name }}</a></h2>
                                    <div>
                                        <span class="font-small text-muted">By <a href="{% url 'vendor_detail' product.vendor.vendor_slug %}">{{ product.vendor.vendor_name }}</a></span>
                                    </div>
                                    <div class="product-card-bottom d-block">
                                        <div class="product-price">
                                            <span>₹{{ product.sales_price }}</span>
                                            <span class="old-price">₹{{ product.regular_price }}</span>
                                        </div>
                                        <div class="add-cart">
                                            <a class="add w-100 text-center" href="{% url 'view_product' product.vendor.vendor_slug product.slug %}">View Product </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--product grid-->
                    <div class="pagination-area mt-20 mb-20">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% if products.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.previous_page_number }}">
                                            <i class="fi-rs-arrow-small-left"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link"><i class="fi-rs-arrow-small-left"></i></a>
                                    </li>
                                {% endif %}
                    
                                {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                    
                                {% if products.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.next_page_number }}">
                                            <i class="fi-rs-arrow-small-right"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link"><i class="fi-rs-arrow-small-right"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                   
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="sidebar-widget widget-category-2 mb-30 p-4">
                        <h5 class="section-title style-1 mb-30">Category</h5>
                        <ul>
                            {% for cat in categories %}
                            <li class="px-0">
                                <a href="{% url 'filter_by_category' category_id=cat.id %}"> <img src="{{ cat.category_image.url }}" alt="{{cat.category_name}}" />{{ cat.category_name }}</a><span class="count p-0 me-1">{{ cat.product_count }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Filter By Price -->
                    
                    <!-- Product sidebar Widget -->
                    
                    
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    function toggleCategories(event) {
        event.preventDefault(); // Prevent default behavior of the button/link
        const category = document.getElementById('category-ul');
        // Toggle the display property between 'none' and 'block'
        if (category.style.display === 'none' || category.style.display === '') {
            category.style.display = 'block';
        } else {
            category.style.display = 'none';
        }
    }
    
    function updateCategoryIcon() {
        const icon = document.getElementById("categoryIcon");
        const category = document.getElementById('category-ul'); 
        
        if (window.innerWidth <= 990) {
            category.style.display = 'none';
            icon.classList.remove("icon-restaurant_menu");
            icon.classList.add("fa", "fa-bars");
        } else {
            category.style.display = 'block';
            icon.classList.remove("fa", "fa-bars");
            icon.classList.add("icon-restaurant_menu");
        }
    }

    // Run on initial load
    updateCategoryIcon();

    // Add event listener to handle window resize
    window.addEventListener("resize", updateCategoryIcon);


</script>

{% endblock %}
