{% load static %}
<div class="page-section restaurant-detail-image-section" style=" background: url({% if vendor.user_profile.cover_photo %} {{ vendor.user_profile.cover_photo.url }} {% else %} {% static 'images/default-cover-new.png' %}{% endif %}) no-repeat scroll 0 0 / cover;">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <!-- Column Start -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="company-info-detail">
                    <div class="company-info">
                        <div class="img-holder">
                            <figure>
                                {% if vendor.user_profile.profile_picture %}
                                <img src="{{ vendor.user_profile.profile_picture.url }}" alt="">
                                {% else %}
                                <img src="{% static 'images/default-profile-new.png' %}" alt="">
                                {% endif %}
                            </figure>
                        </div>

                        <div class="text-holder">
                            <span class="restaurant-title">{{vendor.vendor_name}}</span>
                            <div class="text-white"style="font-size: 12px;line-height: 22px;">
                                {% if vendor.user_profile.address %}
                                <div>
                                    <span class="text-white">Location: </span>
                                    <span class="text-white">{{vendor.user_profile.address}}</span>
                                </div>
                                {% endif %}
                                {% if vendor.gst_number %}
                                <div>                                        
                                    <span>GST Number: </span>
                                    <span>{{vendor.gst_number}}</span>
                                </div>
                                {% endif %}
                                {% if vendor.fssai_number %}
                                <div>
                                    <span>FSSAI Number: </span>
                                    <span>{{vendor.fssai_number}}</span>
                                </div>
                                {% endif %}
                                {% if vendor.user.phone_number %}
                                <div>
                                    <span>Phone Number: </span>
                                    <span>{{vendor.user.phone_number}}</span>
                                </div>
                                {% endif %}
                                {% if vendor.user.delivery_radius %}
                                <div>
                                    <span>Delivery radious: </span>
                                    <span>{{vendor.delivery_radius}}KM.</span>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>