{% load static %}
<!-- Footer Start -->
<footer class="bg-clickmall text-light pt-5 pb-4 mt-60">
    <div class="container">
      <div class="row">
  
        <!-- About Flickbasket -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">About Flickbasket</h5>
          <span class="text-light">Flickbasket is a multi-vendor marketplace that brings together various sellers, allowing customers to discover and shop a wide range of products in one seamless and convenient platform.</span>
          <div class="d-flex gap-3 mt-3">
            <a href="#" class="text-light"><i class="fa fa-facebook-f"></i></a>
            <a href="#" class="text-light"><i class="fa fa-twitter"></i></a>
            <a href="#" class="text-light"><i class="fa fa-instagram"></i></a>
            <a href="#" class="text-light"><i class="fa fa-youtube"></i></a>
          </div>
          <div class="d-flex gap-2 mt-3">
            <a href="#"><img src="https://www.mystore.in/s/62ea2c599d1398fa16dbae0a//ms.files/play-store-112x33.png" alt="Google Play" height="40"></a>
            <a href="#"><img src="https://www.mystore.in/s/62ea2c599d1398fa16dbae0a//ms.files/apple-store-112x33.png" alt="App Store" height="40"></a>
          </div>
        </div>
  
        <!-- Pages -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">Sell on Flickbasket</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'registerVendor' %}" class="text-light text-decoration-none">Become a Seller</a></li>
            <li><a href="{% url 'login' %}" class="text-light text-decoration-none">Login</a></li>
            <li><a href="{% url 'marketplace' %}" class="text-light text-decoration-none">Our Sellers</a></li>
            <li><a href="#" class="text-light text-decoration-none">FAQs</a></li>
          </ul>
        </div>
  
        <!-- Explore -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Terms & Conditions</a></li>
            <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
            <li><a href="#" class="text-light text-decoration-none">Cancellation & Refund Policy</a></li>
            <li><a href="#" class="text-light text-decoration-none">Cookie Policy</a></li>
            <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
          </ul>
        </div>
  
        <!-- Collections -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">Collections</h5>
          <ul class="list-unstyled">
            {% for i in store_types_footer %}
            <li><a href="{% url 'marketplace' %}?search={{i}}" class="text-light text-decoration-none">{{ i }}</a></li>
            {% endfor %}
          </ul>
         
        </div>
  
      </div>
  
      <div class="text-center pt-3 border-top mt-4">
        <small>&copy; 2025 Flickbasket. All rights reserved.</small>
      </div>
    </div>
  </footer>
  
<!-- Footer End -->
</div>

	
	<!-- Vendor JS-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'assets/js/main2cc5.js' %}"></script>
    <script src="{% static 'assets/js/shop2cc5.js' %}"></script>
</body>

</html>