{% load static %}
<!-- Footer Start -->
<footer class="bg-clickmall text-light pt-5 pb-4">
    <div class="container">
      <div class="row">
  
        <!-- About Flickbasket -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">About Flickbasket</h5>
          <span class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem.</span>
          <div class="d-flex gap-3 mt-3">
            <a href="#" class="text-light"><i class="fa fa-facebook-f"></i></a>
            <a href="#" class="text-light"><i class="fa fa-twitter"></i></a>
            <a href="#" class="text-light"><i class="fa fa-instagram"></i></a>
            <a href="#" class="text-light"><i class="fa fa-youtube"></i></a>
          </div>
          <div class="d-flex gap-2 mt-3">
            <a href="#"><img src="https://www.mystore.in/s/62ea2c599d1398fa16dbae0a//ms.files/play-store-112x33.png" alt="Google Play" height="40"></a>
            <a href="#"><img src="https://www.mystore.in/s/62ea2c599d1398fa16dbae0a//ms.files/apple-store-112x33.png" alt="App Store" height="40"></a>
          </div>
        </div>
  
        <!-- Pages -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">Pages</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Home</a></li>
            <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
            <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
            <li><a href="#" class="text-light text-decoration-none">FAQs</a></li>
          </ul>
        </div>
  
        <!-- Explore -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">Explore</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Offers</a></li>
            <li><a href="#" class="text-light text-decoration-none">New Arrivals</a></li>
            <li><a href="#" class="text-light text-decoration-none">Top Sellers</a></li>
            <li><a href="#" class="text-light text-decoration-none">Blog</a></li>
          </ul>
        </div>
  
        <!-- Collections -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-light">Collections</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Groceries</a></li>
            <li><a href="#" class="text-light text-decoration-none">Electronics</a></li>
            <li><a href="#" class="text-light text-decoration-none">Fashion</a></li>
            <li><a href="#" class="text-light text-decoration-none">Health & Beauty</a></li>
          </ul>
         
        </div>
  
      </div>
  
      <div class="text-center pt-3 border-top mt-4">
        <small>&copy; 2025 Flickbasket. All rights reserved.</small>
      </div>
    </div>
  </footer>
  
<!-- Footer End -->
</div>

	
	<!-- Vendor JS-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'assets/js/main2cc5.js' %}"></script>
    <script src="{% static 'assets/js/shop2cc5.js' %}"></script>
</body>

</html>