{% load static %}

<style>
  /* Basic styling for dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 175px;
    border: 1px solid #ccc;
    margin: 11px 0px 0px 40px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
.subcategory {
    margin-left: 20px;
    font-size: 0.9em;
}
.btn-category{
    padding: 6px 50px 5px 50px;
    margin: 0px 10px 0px 40px;
    font-weight: 600;
}
.logout-icon{
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    .main-logo img{
        max-width: 95%;
    }
    .btn-category{
        margin: 10px 10px 0px 0px;
        padding: 6px 20px 5px 20px;
    }
    .main-location{
        width: 100%;
        margin-left: 0px !important;
        margin-top: 5px;
    }
    #categoryDropdown{
        margin: 11px 0px 0px -40px;
        z-index: 999;
    }
    .logout-icon{
        font-size: 18px;
        position: relative;
        top: 2px;
        left: 10px;
    }
    .cart-page .decrease_cart{
        margin-right: 5px !important;
    }
    .menu-itam-holder .menu-itam-list .price-holder a i{
        margin-left: 5px !important;
    }
}
</style>

<header class="header-area header-style-1 header-height-2">
	<div class="header-middle d-none d-lg-block" style="border-bottom: 1px solid #ececec;">
		<!-- <div class="container-fluid">
			<div class="header-wrap">
                <div class="header-left" style="display: flex; width: 40%; align-items: center;">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="{% static 'logo/clickmall-logo.svg' %}" alt="logo" /></a>
                    </div>
    
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categories-button-active" href="#">
                            <span class="fi-rs-apps"></span> Browse All Categories
                            <i class="fi-rs-angle-down"></i>
                        </a>
                        <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                            <div class="d-flex categori-dropdown-inner">
                                <ul>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-1.svg' %}" alt="" />Milks and Dairies</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-2.svg' %}" alt="" />Clothing & beauty</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-3.svg" alt="" />Pet Foods & Toy</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-4.svg" alt="" />Baking material</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-5.svg" alt="" />Fresh Fruit</a>
                                    </li>
                                </ul>
                                <ul class="end">
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-6.svg" alt="" />Wines & Drinks</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-7.svg" alt="" />Fresh Seafood</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-8.svg" alt="" />Fast food</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-9.svg" alt="" />Vegetables</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-10.svg" alt="" />Bread and Juice</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="more_slide_open" style="display: none">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/icon-1.svg" alt="" />Milks and Dairies</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/icon-2.svg" alt="" />Clothing & beauty</a>
                                        </li>
                                    </ul>
                                    <ul class="end">
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/icon-3.svg" alt="" />Wines & Drinks</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/icon-4.svg" alt="" />Fresh Seafood</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div>
                        </div>
                    </div>
                </div>
				


				<div class="header-right" style="width: 60%;">
					<div class="search-style-2">
						<form action="#">
							<select class="select-active">
								<option>All Categories</option>
								<option>Milks and Dairies</option>
								<option>Wines & Alcohol</option>
								<option>Clothing & Beauty</option>
								<option>Pet Foods & Toy</option>
								<option>Fast food</option>
								<option>Baking material</option>
								<option>Vegetables</option>
								<option>Fresh Seafood</option>
								<option>Noodles & Rice</option>
								<option>Ice cream</option>
							</select>
							<input type="text" placeholder="Search for items..." />
						</form>
					</div>
					<div class="header-action-right">
						<div class="header-action-2">
							<div class="search-location">
								<form action="#">
									<select class="select-active">
										<option>Your Location</option>
										<option>Alabama</option>
										<option>Alaska</option>
										<option>Arizona</option>
										<option>Delaware</option>
										<option>Florida</option>
										<option>Georgia</option>
										<option>Hawaii</option>
										<option>Indiana</option>
										<option>Maryland</option>
										<option>Nevada</option>
										<option>New Jersey</option>
										<option>New Mexico</option>
										<option>New York</option>
									</select>
								</form>
							</div>
							
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div> -->
	
        <div class="container-fluid py-2">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
        
                <!-- Left Side: Logo + Categories -->
                <div class="d-flex align-items-center gap-4 flex-shrink-0">
                    <!-- Logo -->
                    <div class="logo logo-width-1">
                        <a href="/"><img src="{% static 'logo/clickmall-logo.svg' %}" alt="logo" style="height: 75px;" /></a>
                    </div>
        
                    <!-- Categories Dropdown -->
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categories-button-active" href="#" data-bs-toggle="modal" data-bs-target="#locationModal">
                            <span class="fi-rs-marker"></span> Select Location
                        </a>
                    </div>
                    
                </div>

                <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="locationModalLabel">Select Your Location</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>You can list location options here...</p>
                        </div>
                        </div>
                    </div>
                    </div>
        
                <!-- Middle: Search Bar -->
                <div class="flex-grow-1">
                    <div class="search-style-2">
                        <form action="#" class="d-flex">
                            <select class="select-active me-2" style="min-width: 150px;">
                                <option>All Categories</option>
                                <option>Milks and Dairies</option>
                                <option>Wines & Alcohol</option>
                                <option>Clothing & Beauty</option>
                                <option>Pet Foods & Toy</option>
                                <option>Fast Food</option>
                                <option>Baking Material</option>
                                <option>Vegetables</option>
                                <option>Fresh Seafood</option>
                                <option>Noodles & Rice</option>
                                <option>Ice Cream</option>
                            </select>
                            <input type="text" class="form-control" placeholder="What are you looking for?" />
                        </form>
                    </div>
                </div>
        
                <!-- Right Side: Location -->

                <div class="d-flex align-items-center gap-3 flex-shrink-0">
                    <a href="{% url 'login' %}" class="text-danger" style="font-size: 1rem; font-weight: 600;">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                    </a>

                    <a href="{% url 'cart' %}" class="text-dark position-relative me-5" style="font-size: 1.2rem;">
                        <i class="fa fa-shopping-cart"></i>
                        <!-- Optional: Cart item count badge -->
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            2
                            <span class="visually-hidden">cart items</span>
                        </span>
                    </a>

                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categories-button-active" href="#" style="background-color: #DC3545; color: #fff;">
                            Become a Seller
                        </a>
                    </div>
                </div>
        
            </div>
        </div>
        
    </div>
	
</header>

<!--Main Wrapper-->
<div class="wrapper">
    <!-- Header Start -->
    <!-- <header id="header">
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                       <div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
                        <div class="logo py-0">
                            <figure class="mb-0">
                                <a href="/" class="light-logo main-logo">
                                    <img src="{% static 'logo/clickmall-logo.svg' %}" alt="Clickmall" width="250">
                                </a>
                            </figure>
                        </div>
                        <div class="dropdown">
                            <button onclick="toggleDropdown()" class='btn btn-outline-danger btn-category text-uppercase'>Categories</button>
                            <div id="categoryDropdown" class="dropdown-content">
                                <a href="{% url 'all_products' %}">All Products</a>
                                {% for category in categories %}
                                    <a href="javascript:void(0)" onclick="toggleSubcategories({{ category.id }})">{{ category.category_name }} {% if category.subcategories.exists %}<i class="fa fa-angle-down float-right"></i>{% endif %}</a>
                                    <div id="subcategory-{{ category.id }}" class="subcategory" style="display: none;">
                                        {% for subcategory in category.subcategories.all %}
                                            <a href="{% url 'filter_by_subcategory' subcategory.id %}">{{ subcategory.category_name }}</a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <a href="{% url 'categories' %}">Show all categories</a>
                            </div>
                        </div>
                        <div class="main-location ml-4">
                            <ul>
                                <li class="location-has-children choose-location">
                                    <form action="#">
                                        <input type="text" value="" name="location" id="location" placeholder="Your current location" autocomplete="off">
                                        <span id="foodbakery_radius_location_open" class="foodbakery-radius-location" onclick="getLocation()">
                                            <i class="icon-target5"></i>
                                        </span>
                                    </form>
                                </li>
                            </ul>
                        </div>
                       </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="login-option">
                            {% if user.is_authenticated %}
                            <a href="{% url 'cart' %}">
                                <i class="fa fa-shopping-cart text-danger" style="font-size: 20px;"></i>
                                <span class="badge badge-warning" id="cart_counter" style="border-radius: 50px; position: relative; bottom:10px; left: -5px;">{{ cart_count }}</span>
                            </a>
                            {% endif %}
                            <a href="{% url 'marketplace' %}" class="btn btn-outline-danger text-uppercase font-weight-bold">Marketplace</a>
                            {% if user.is_authenticated %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}">My Account</a>
                            <a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}"><i class="fa fa-power-off logout-icon" aria-hidden="true"></i></a>
                            {% else %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Login</a> /
                            <span><a href="{% url 'registerUser' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0">Register</a></span>
                            <a class="get-start-btn" href="{% url 'registerVendor' %}" style="font-size: 10px;">Become a Vendor</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <!-- Header End -->

    <script>
 // Toggle dropdown display when clicking the button
function toggleDropdown() {
    const dropdown = document.getElementById("categoryDropdown");
    dropdown.classList.toggle("show");

    if (dropdown.classList.contains("show")) {
        // Add scroll event listener only when the dropdown is open
        window.addEventListener("scroll", closeDropdownOnScroll);
    }
}

// Close the dropdown
function closeDropdownOnScroll() {
    const dropdown = document.getElementById("categoryDropdown");
    if (dropdown.classList.contains("show")) {
        dropdown.classList.remove("show");
        // Remove the scroll event listener to prevent unnecessary calls
        window.removeEventListener("scroll", closeDropdownOnScroll);
    }
}

// Toggle subcategory display for each category and prevent dropdown from closing
function toggleSubcategories(categoryId) {
    var subcategoryDiv = document.getElementById("subcategory-" + categoryId);
    subcategoryDiv.style.display = subcategoryDiv.style.display === "none" ? "block" : "none";
}

// Close the dropdown if clicked outside, but ignore clicks on the dropdown content
window.onclick = function(event) {
    if (!event.target.matches('.dropdown button') && !event.target.matches('.dropdown-content a')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
};
        // Geolocation Script
        var x = document.getElementById("location");
        var current_location = sessionStorage.getItem("current_location");
        if (current_location != "") {
            x.value = current_location;
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}";
            var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng + "&key=" + GOOGLE_API_KEY;

            $.ajax({
                url: url,
                type: "GET",
                success: function(response) {
                    var current_location = response.results[0].formatted_address;
                    x.value = current_location;
                    sessionStorage.setItem("current_location", current_location);
                    window.location = '?lat=' + lat + '&lng=' + lng;
                }
            });
        }
    </script>
</div>
