{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="popular-categories section-padding" style="padding-bottom: 0;">
	<div class="container wow animate__animated animate__fadeIn">
		<div class="section-title">
			
			<div class="slider-arrow slider-arrow-2 carausel-10-columns-arrow" id="carausel-10-columns-arrows">
				
			</div>
		</div>
		<div class="carausel-10-columns-cover position-relative">
			<div class="carausel-10-columns" id="carausel-10-columns">
				{% for cat in categories_home %}
				<div class="card-2 bg-{{forloop.counter}} wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
					<figure class="img-hover-scale overflow-hidden">
						<a href="{% url 'filter_by_category' category_id=cat.id %}"><img src="{{ cat.category_image.url }}" alt="{{cat.category_name}}" /></a>
					</figure>
					<h6><a href="{% url 'filter_by_category' category_id=cat.id %}">{{ cat.category_name }}</a></h6>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<!-- Main Section Start -->
	<section class="home-slider position-relative mb-20 page-section nopadding cs-nomargin">
		<div class="container">
			<div class="home-slide-cover">
				<div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
					{% for slide in homepagebanners %}
						{% if slide.vendor %}
							<a href="{% url 'vendor_detail' slide.vendor.vendor_slug %}">
						{% else %}
							<a href="{{ slide.link }}">
					{% endif %}
						<div class="single-hero-slider single-animation-wrap" style="background-image: url({{ slide.image.url }});">
							<div class="slider-content">
								<!-- Optional Content -->
							</div>
						</div>
					</a>
					{% endfor %}
					
					
					
					
				</div>
				<div class="slider-arrow hero-slider-1-arrow"></div>
			</div>
		</div>
	</section>
	

	<section class="product-tabs section-padding position-relative">
		<div class="container">
			<div class="section-title style-2 wow animate__animated animate__fadeIn mb-3">
				<h3>Popular Products</h3>
			</div>
			<!--End nav-tabs-->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
					<div class="row product-grid-4">
						{% for product in products %}
						<div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
							<div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
								<div class="product-img-action-wrap">
									<div class="product-img product-img-zoom">
										<a href="{% url 'view_product' product.vendor.vendor_slug product.slug %}">
											<img class="default-img" src="{{ product.image.url }}" alt="" />
										</a>
									</div>
									{% if product.get_discount_percentage > 0 %}
										<div class="product-badges product-badges-position product-badges-mrg">
											<span class="hot">Save {{product.get_discount_percentage}}%</span>
										</div>
									{% endif %}
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="#">{{product.category}}</a>
									</div>
									<h2><a href="{% url 'view_product' product.vendor.vendor_slug product.slug %}">{{product.product_name}}</a></h2>
									<div>
										<span class="font-small text-muted">By <a href="{% url 'vendor_detail' product.vendor.vendor_slug %}">{{product.vendor}}</a></span>
									</div>
									<div >
										<div class="product-price">
											<span>₹{{ product.sales_price }}</span>
											<span class="old-price">₹{{ product.regular_price }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<!--End product-grid-4-->
				</div>
				<!--En tab one-->
				
				<!--En tab two-->
				
				
			</div>
			<!--End tab-content-->
		</div>
	</section>

	<section class="banners mb-25 pt-3">
		<div class="container">
			<div class="section-title wow animate__animated animate__fadeIn mb-3">
				<h3 class="">Flickbasket Top Collection</h3>
			</div>
	
			<!-- Bootstrap Carousel for multiple banners -->
			<div id="bannerCarousel" class="carousel slide">
				<div class="carousel-inner">
	
					<!-- Carousel Item 1 -->
					{% for chunk in banner_chunks %}
					<div class="carousel-item {% if forloop.first %}active{% endif %}">
						<div class="row">
							{% for banner in chunk %}
							<div class="col-lg-4 col-md-6">
								<div class="banner-img wow animate__animated" data-wow-delay="0">
									<img src="{{ banner.image.url }}" alt="" />
									<div class="banner-text mt-3">
										<a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
	
					
	
					<!-- More Carousel Items (repeat for other banners) -->
	
				</div>
	
				<!-- Carousel Controls -->
				<button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev" style="z-index: 9;">
					<span class="carousel-control-prev-icon"></span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon"></span>
				</button>
			</div>
		</div>
	</section>

	{% for category, chunks in grouped_banners_list %}
<section class="banners mb-25 pt-3">
	<div class="container">
		<div class="section-title wow animate__animated animate__fadeIn mb-3">
			<h3 class="">{{ category.category_name }}</h3>
		</div>

		<!-- Bootstrap Carousel for multiple banners -->
		<div id="bannerCarousel_{{ forloop.counter }}" class="carousel slide" >
			<div class="carousel-inner">

				{% for chunk in chunks %}
				<div class="carousel-item {% if forloop.first %}active{% endif %}">
					<div class="row">
						{% for banner in chunk %}
						<div class="col-lg-4 col-md-6">
							<div class="banner-img wow animate__animated" data-wow-delay="0">
								<img src="{{ banner.image.url }}" alt="{{ banner.category.category_name }}" />
								<div class="banner-text mt-3">
									<a href="{{ banner.link }}" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}

			</div>

			<!-- Carousel Controls -->
			<button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel_{{ forloop.counter }}" data-bs-slide="prev" style="z-index: 9;">
				<span class="carousel-control-prev-icon"></span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel_{{ forloop.counter }}" data-bs-slide="next">
				<span class="carousel-control-next-icon"></span>
			</button>
		</div>
	</div>
</section>
{% endfor %}


	
	

	<!-- Home Pages Elements End  -->
</div>
<!-- Main Section End -->
{% endblock %}