{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  /* Responsive Styles */
  @media only screen and (max-width: 1199px) {
    select {width: 41%;}

  }
  
  
  @media only screen and (max-width: 991px) {
    select {width: 41%;}
    .custom-design-for-info{
        display: block !important;
    }
    
    select option {
        font-size: 12px;
    }


    .status-img{
        width: 160px !important;
    }
  }



  @media only screen and (max-width: 768px) {
    select {width: 41%;}
    select option {font-size: 12px;}
    .custom-design-for-info{
        display: block !important;
    }
    .image-logo{
        width: 170px !important;
    }
    .status-img{
        width: 130px !important;
    }

  }
  
  
  @media only screen and (max-width: 575px) {
    select {width: 41%;}
    select option {font-size: 10px;}
    .custom-design-for-info{
        display: block !important;
    }
    .image-logo{
        width: 150px !important;
    }
    .status-img{
        width: 100px !important;
    }
  }

</style>
<div class="container mt-5 mb-5">
    <div class="justify-content-center row">
        <div class="col-md-8">
            <div class="bg-white p-3">
                <img src="{% static 'logo/flickbasket-logo.svg' %}" alt="flickbasket Logo" width="300" class="image-logo">
                
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mt-2 mb-3">New Order Received</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="mb-0"><strong>Order No:</strong> {{ order.order_number }}</p>
                        <p class="mb-0"><strong>Customer:</strong> {{ order.name }}</p>
                        <p class="mb-0">{{ order.phone }}</p>
                        <p class="mb-0">{{ order.email }}</p>
                    </div>
                </div>

                <h6 class="mt-3">You received an order. Below are the details for your products.</h6>
                <hr>

                <div class="d-flex justify-content-between custom-design-for-info">
                    <div>
                        <span class="d-block">Order Date:</span><span class="font-weight-bold">{{ order.created_at }}</span>
                    </div>
                    <div>
                        <span class="d-block">Payment Method:</span><span class="font-weight-bold">{{ order.payment_method }}</span>
                    </div>
                    <div>
                        <span class="d-block">Transaction ID:</span><span class="font-weight-bold">{{ order.payment.transaction_id }}</span>
                    </div>
                </div>
                <hr>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Vendor</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Tax Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ordered_food %}
                        <tr>
                            <td>
                                <img src="{{ item.product.image.url }}" width="60" alt="Product Image"><br>
                                <b>{{ item.product }}</b>
                            </td>
                            <td>{{ item.product.vendor.vendor_name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>₹{{ item.price }}</td>
                            <td>{{ item.product.tax_category }}</td>
                            <td>{{ item.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="row mt-5">
                    <div class="d-flex justify-content-center col-md-6">
                        {% if all_paid %}
                            <img src="{% static 'images/paid.png' %}" width="200" class="status-img">
                        {% else %}
                            <img src="{% static 'images/cod.svg' %}" width="200" class="status-img">
                        {% endif %}
                    </div>
                    
                    <div class="col-md-6">
                        <ul>
                            <li style="list-style-type: none;" class="d-flex justify-content-between align-items-center">
                                Subtotal
                                <span class="price float-right">
                                    ₹{{ subtotal }}
                                </span>
                            </li>

                            {% for tax_entry in tax_data %}
                                {% for tax_name, tax_info in tax_entry.items %}
                                    {% for rate, amount in tax_info.items %}
                                        <li style="list-style-type: none;" class="d-flex justify-content-between align-items-center">
                                            <div style="font-size: 12px;">
                                                {{ tax_name }} <small>({{ rate }}%)</small>
                                            </div>
                                            <span class="price float-right">
                                                ₹{{ amount }}
                                            </span>
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}

                            <li style="list-style-type: none; font-weight: 600;" class="d-flex justify-content-between align-items-center">
                                TOTAL
                                <span class="price float-right ">
                                    ₹{{ order.total }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="d-block font-weight-bold">Thanks for fulfilling your order!</span>
                        <span>— Flickbasket Team</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}